# Data Science Tools and Ecosystem

**Objectives:**
- List popular languages for Data Science
- List commonly libraries for Data Science
- List of development environment open source tools used in data science

 In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL 
4. Java
5. C++
6. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Scikit
2. Matplotlib
3. ggplot2

|Data Science Tools|
|-----------------|
|Apache Cassandra|
|Pixie Dust|
|Seldon|
|Prometheus|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
T_minuto = 200
T_hora = T_minuto/60 
print(T_hora)

3.3333333333333335

## Author
Luis Guevara Urbina